<!doctype html>
<html lang="en" ng-app="hydroapp">
	<head>
		<title>Venice Hydrodynamics</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		
		
		<!-- Firebase -->
		<script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
		
		<!-- jquery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		
		<!-- Leaflet -->
		<script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css" />
		
		<!-- bootstrap -->
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"/>
		<script type='text/javascript' src='js/bootstrap.min.js'></script>
		
		<!-- angularjs -->
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
		
		<!-- angular slider -->
		<link rel="stylesheet" type="text/css" href="css/angular-slider.min.css"/>
		<script type='text/javascript' src='js/angular-slider.min.js'></script>
		
		<!-- spinner -->
		<script type='text/javascript' src='js/spin.min.js'></script>
		<script type='text/javascript' src='js/jquery.spin.js'></script>
		
		<!-- local css -->
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		
		<!-- chroma.js -->
		<script type='text/javascript' src='js/chroma.min.js'></script>
		
		<!-- ArrowLine library -->
		<script type='text/javascript' src='js/ArrowLine.js'></script>
		
		
		<style type="text/css">
			/* fix for slider conflict with bootstrap */
			slider span{
				-webkit-box-sizing: content-box !important;
				-moz-box-sizing: content-box !important;
				box-sizing: content-box !important;
			}
			
			.info {
				padding: 10px 10px;
				font: 14px/16px Arial, Helvetica, sans-serif;
				background: white;
				background: rgba(255,255,255,0.9);
				box-shadow: 0 0 15px rgba(0,0,0,0.2);
				border-radius: 5px;
			}
			.info-width {
				width: 500px;
			}
			.info h4 {
				margin: 0 0 5px;
				color: #777;
			}
		</style>
		
		<script type='text/javascript'>
			var map;
			var baseLayer;
			
			$( document ).ready(function() {
				map = L.map("map-canvas", {minZoom: 12}).setView([45.4375 , 12.334], 15);
				baseLayer = new L.TileLayer(
					'http://{s}.tiles.mapbox.com/v3/bennlich.map-8ds9rdrc/{z}/{x}/{y}.png',
					{ attribution: 'Map tiles © MapBox' }
					).addTo(map);
				L.control.scale().addTo(map);
			});
			
			app = angular.module('hydroapp', ['uiSlider']);
			app.controller('MapCtrl', ['$scope', '$compile', '$http', '$q', '$timeout', '$location', function($scope, $compile, $http, $q, $timeout, $location){
				$scope.Math = window.Math;
				$scope.timeIndex = 0;
				$scope.dataSets = [
					{
						label: 'Week',
						dateRange: 'November 1, 2013 - November 7, 2013',
						file: 'nov7.json',
					},
					{
						label: 'Year',
						dateRange: 'January 1, 2012 - December 31, 2012',
						file: '2012.json',
					},
				];
				
				function createTimeSelector(){
					var info = L.control({position: "bottomright"});
					info.onAdd = function (map) {
						var htmlContent = '<div class="info info-width">'+
							'<p><h4>Canal Currents (<span ng-repeat="dataSet in dataSets" ng-if="dataFile==dataSet.file">{{dataSet.label}}</span>)</h4></p>'+
							'<p><h5>Hydrodynamic simulation for: <span ng-repeat="dataSet in dataSets" ng-if="dataFile==dataSet.file">{{dataSet.dateRange}}</span></h5></p>'+
							'<p><h6>{{modelTimestep.l}}</h6>'+
							'<slider floor="0" ceiling="{{modelData.length-1}}" step="1" precision="0" ng-model="timeIndex"></slider></p>'+
							'<p><span ng-repeat="dataSet in dataSets" style="margin-right:10px;" title="{{dataSet.dateRange}}"><a ng-href="?{{dataSet.file}}" ng-if="dataFile!=dataSet.file">{{dataSet.label}}</a><span ng-if="dataFile==dataSet.file">{{dataSet.label}}</span></span></p>'+
							'</div>';
						$scope.compiled = $compile(htmlContent)($scope);
						this._content = $scope.compiled[0];
						return this._content;
					};
					return info;
				}
				
				function createKey(){
					var info = L.control({position: "topright"});
					info.onAdd = function (map) {
						var htmlContent = '<div class="info">'+
							'<h4>Key (m/s)</h4>'+
							'<div>'+
							'<div ng-repeat="value in velScaleValues"><span style="width:40px;height:20px;display:inline-block;vertical-align:middle;background:{{colorScale(value).hex()}}"/><span style="vertical-align:middle;margin-left:2px;">{{value*velDivisor | number:2}}</span></div>'+
							'</div>'+
							'</div>';
						$scope.compiled = $compile(htmlContent)($scope);
						this._content = $scope.compiled[0];
						return this._content;
					};
					return info;
				}
				
				/* Displays question mark and vpc logo */
				function createBrandBox(){
					var info = L.control({position: "bottomleft"});
					info.onAdd = function (map) {
						var htmlContent = '<div class="info" style="width:auto;">'+
							'<span ng-click="showAbout()"><img src="about.png" style="cursor:pointer;padding-right:7px;"></span>'+
							'<a href="http://veniceprojectcenter.org"><img src="vpc25logo.png"></a>'+
							'</div>';
						$scope.compiled = $compile(htmlContent)($scope);
						this._content = $scope.compiled[0];
						return this._content;
					};
					return info;
				}
				
				$scope.showAbout = function (){
					$('#aboutPanel').show();
				}
				$scope.hideAbout = function (){
					$('#aboutPanel').hide();
				}
				
				$scope.colorScale = chroma.interpolate.bezier(['white', '#00ffff', 'green', 'yellow', 'red']);
				$scope.velDivisor = 0.5;
				$scope.velScaleValues = new Array();
				for(var i = 0; i<1.3; i+=0.1)$scope.velScaleValues.push(i);
				
				function updateMarkers(){
					if($scope.segmentArrows && $scope.modelTimestep && $scope.segmentData && $scope.segmentPolygons){
						for(var segmentId in $scope.segmentArrows){
							var arrow = $scope.segmentArrows[segmentId];
							var data = $scope.segmentData[segmentId];
							if(arrow && data){
								var vel = $scope.modelTimestep.v[segmentId-2001];
								if(vel!==undefined){
									if(vel>0.002){
										arrow.setAngle(data.angle);
										arrow.setHeadVisible(true);
									}
									else if(vel<-0.002){
										arrow.setAngle(data.angle+Math.PI);
										arrow.setHeadVisible(true);
									}
									else{
										arrow.setAngle(data.angle);
										arrow.setHeadVisible(false);
									}
									var segmentPolygon = $scope.segmentPolygons[data.segmentId];
									if(segmentPolygon){
										segmentPolygon.setStyle({fillColor: $scope.colorScale(Math.abs(vel)/$scope.velDivisor).hex()});
									}
								}
							}
						}
					}
				}
				$scope.$watch('modelTimestep', updateMarkers);
				$scope.$watchCollection('segmentArrows', updateMarkers);
				$scope.$watchCollection('segmentData', updateMarkers);
				$scope.$watchCollection('segmentPolygons', updateMarkers);
				
				
				function updateModelTimestep(){
					if($scope.modelData && $scope.timeIndex)
						$scope.modelTimestep = $scope.modelData[$scope.timeIndex];
				}
				$scope.$watch('modelData', updateModelTimestep);
				$scope.$watch('timeIndex', updateModelTimestep);
				
				$scope.onTimeout = function(){
					if($scope.modelData){
						if($scope.timeIndex < $scope.modelData.length-1)
							$scope.timeIndex++;
					}
					$scope.mytimeout = $timeout($scope.onTimeout, 200);
				}
				$scope.mytimeout = $timeout($scope.onTimeout, 2000);
				
				
				$( document ).ready(function() {
					createTimeSelector().addTo(map);
					createBrandBox().addTo(map);
					$('#aboutPanel').hide();
					createKey().addTo(map);
					
				
					$('#spinner').spin('large', '#fff');
					$scope.dataFile = $location.absUrl().split("?")[1];
					if(!$scope.dataFile)
						$scope.dataFile = 'nov7.json';
					$q.all(
						{
							segments: $http.get('segments.geojson')
								.then(function(result) {
									if(result.status == 200){
										var segmentLayer = L.geoJson(result.data, {
											style: {
												fillColor: '#0000FF', fillOpacity: 1.0, weight: 0, clickable: false
											}
										});
										return segmentLayer;
									}
								}),
							modelSegments: $http.get('modelSegments.json')
								.then(function(result) {
									if(result.status == 200){
										$scope.segmentArrows = {};
										$scope.segmentData = result.data;
										var segmentPolygonOptions = {weight: 0, fillColor: '#000000', fillOpacity: 1.0, clickable: false};
										var segmentLayersGroup = new L.FeatureGroup();
										for(var segmentId in result.data){
											var segmentData = result.data[segmentId];
											var midpoint = segmentData.midpoint;
											var angle = segmentData.angle;
											
											var segmentLayer = new L.ArrowLine(L.latLng(midpoint.y, midpoint.x), angle, 0.0003, segmentPolygonOptions);
											$scope.segmentArrows[segmentId] = segmentLayer;
											segmentLayersGroup.addLayer(segmentLayer);
										}
										return segmentLayersGroup;
									}
								}),
							modelOutput: $http.get($scope.dataFile)
								.then(function(result) {
									if(result.status == 200){
										return $scope.modelData = result.data;
									}
								})
						}
					).then(function(layers){
						var validModelSegments = {};
						var validSegments = {};
						for(var x in $scope.modelData[0].v){
							var modelId = x*1+2001;
							validSegments[$scope.segmentData[modelId].segmentId] = true;
							validModelSegments[modelId] = true;
						}
						
						$scope.segmentPolygons = {};
						for(var layerId in layers.segments._layers){
							var layer = layers.segments._layers[layerId];
							var segmentId = layer.feature.properties.Codice;
							if(validSegments[segmentId])
								$scope.segmentPolygons[segmentId] = layer;
							else
								layers.segments.removeLayer(layer);
						}
						for(var segmentId in $scope.segmentArrows){
							var arrow = $scope.segmentArrows[segmentId];
							if(!validModelSegments[segmentId])
								layers.modelSegments.removeLayer(arrow);
						}
						
						layers.segments.addTo(map);
						layers.modelSegments.addTo(map);
						$('#loadingPanel').hide();
						$('#spinner').spin(false);
					});

				});
			}]);
		</script>
	</head>
	<body ng-controller="MapCtrl">
		<div style="position:absolute;width:100%;height:100%;">
			<div id="map-canvas" style="width:100%;height:100%;"></div>
		</div>
		
		<div style="position:absolute;top:0px;left:0px;width:100%;height:100%;z-index:2000;background-color:rgba(0,0,0,0.5);" id="loadingPanel">
			<div style="margin-left:auto;margin-right:auto;text-align:center;margin-top:50px;" id="loadingText"><h3 style="color:white;">Loading...</h3></div>
			<div style="position:absolute;left:50%;top:50%;" id="spinner"></div>
		</div>
		
		<div ng-click="hideAbout()" style="position:absolute;top:0px;left:0px;width:100%;height:100%;z-index:2000;background-color:rgba(0,0,0,0.5);" id="aboutPanel">
			<div class="info" style="position: absolute;top: 50%;left: 50%;margin-top: -250px;margin-left: -250px;height: 500px;width:500px;overflow:auto;padding:5px" id="about">
				<h4>Canal Hydrodynamics Visualization</h4>
				This visualization shows hydrodynamics information generated by a model of the inner canals of Venice.<br>
				Canal model and information provided by <a href="http://www.ismar.cnr.it/">ISMAR</a><br>
				Special thanks to Georg Umgiesser and Elisa Coraci for their help with the model
				<img style="position:absolute;bottom:5px;left:5px;" src="wpi_logo.png">
			</div>
		</div>
	</body>
</html>