<!doctype html>
<html lang="en" ng-app="bridgeapp">
	<head>
		<title>Venice Bridges</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		
		
		<!-- Firebase -->
		<script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
		
		<!-- jquery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		
		<!-- Leaflet -->
		<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
		
		<!-- bootstrap -->
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"/>
		<script type='text/javascript' src='js/bootstrap.min.js'></script>
		
		<!-- angularjs -->
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
		
		<!-- angular slider -->
		<link rel="stylesheet" type="text/css" href="css/angular-slider.min.css"/>
		<script type='text/javascript' src='js/angular-slider.min.js'></script>
		
		<!-- spinner -->
		<script type='text/javascript' src='js/spin.min.js'></script>
		<script type='text/javascript' src='js/jquery.spin.js'></script>
		
		<!-- local css -->
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		
		<!-- console library -->
		<script type='text/javascript' src='js/ck-console.js'></script>
		
		
		<style type="text/css">
			/* fix for slider conflict with bootstrap */
			slider span{
				-webkit-box-sizing: content-box !important;
				-moz-box-sizing: content-box !important;
				box-sizing: content-box !important;
			}
			
			.info {
				padding: 6px 8px;
				font: 14px/16px Arial, Helvetica, sans-serif;
				background: white;
				background: rgba(255,255,255,0.9);
				box-shadow: 0 0 15px rgba(0,0,0,0.2);
				border-radius: 5px;
				width: 320px;
			}
			.info h4 {
				margin: 0 0 5px;
				color: #777;
			}
		</style>
		
		<script type='text/javascript'>
			var map;
			var baseLayer;
			
			$( document ).ready(function() {
				map = L.map("map-canvas", {minZoom: 14}).setView([45.436 , 12.334], 14);
				baseLayer = new L.TileLayer(
					'http://{s}.tiles.mapbox.com/v3/bennlich.map-8ds9rdrc/{z}/{x}/{y}.png',
					{ attribution: 'Map tiles © MapBox' }
					).addTo(map);
				L.control.scale().addTo(map);
			});
			
			app = angular.module('bridgeapp', ['uiSlider', 'ckServices']);
			app.controller('DataCtrl', ['$scope', '$compile', 'ckConsole', 'ckConsoleMap', '$http', function($scope, $compile, ckConsole, ckConsoleMap, $http){
				function updateMarkers(){
					if($scope.bridgeLayer){
						$scope.bridgeLayer.eachMember(function(member, marker){
							if(marker){console.log(member);
								var data = member.data["Freccia C"]*100;
								if(data>$scope.totalHeight){
									marker.setStyle({fillColor: '#00FF00',color: '#00FF00'});
								}
								else{
									marker.setStyle({fillColor: '#FF0000',color: '#FF0000'});
								}
							}
						});
					}
				}
				$scope.$watch('totalHeight', updateMarkers);
				$scope.$watchCollection('bridgeLayer.markers', updateMarkers);

				function updateTotal(){
					$scope.totalHeight = $scope.waterHeight*1 + $scope.boatHeight*1;
				}
				
				$scope.$watch('waterHeight', updateTotal);
				$scope.$watch('boatHeight', updateTotal);
				
				$scope.waterHeight = 60;
				$scope.boatHeight = 100;
				$http.get('tide.php')
					.then(function(result) {
						if(result.status == 200){
							$scope.waterHeight = parseFloat(result.data)*100;
						}
					});
				
				$scope.hoverFields = [
					{label: "ID", key: "Codice_Pon"},
					{label: "Name", key: "Nome_Ponte"},
					{label: "River Name", key: "Nome_Rio"},
					{label: "Area", key: "Superficie"},
					{label: "Height", key: "Freccia C"}
				];
				
				function createBridgeInfoBox(){
					var info = L.control();
					info.onAdd = function (map) {
						var htmlContent = '<div class="info"><h4>Bridge Information</h4>'+
							'<p ng-show="hoverData.data"><span ng-repeat="fieldRow in hoverFields" style="display:block" ng-show="hoverData.data[fieldRow.key]"><span style="font-weight:bold;">{{fieldRow.label}}:</span> {{hoverData.data[fieldRow.key]}}</span></p>'+
							'<p ng-hide="hoverData.data">Hover over a bridge to see more information</p>'+
							'</div>';
						$scope.compiled = $compile(htmlContent)($scope);
						this._content = $scope.compiled[0];
						return this._content;
					};
					return info;
				}
				
				function createHeightSelectorBox(){
					var info = L.control({position: "bottomright"});
					info.onAdd = function (map) {
						var htmlContent = '<div class="info">'+
							'<p><h4>Total Height: {{totalHeight}} cm</h4></p>'+
							'<p><h5 style="margin:0px;">Water Height ({{waterHeight}} cm):</h5><slider floor="-50" ceiling="200" step="1" precision="0" ng-model="waterHeight"></slider></p>'+
							'<p><h5 style="margin:0px;">Boat Height ({{boatHeight}} cm):</h5><slider floor="50" ceiling="400" step="1" precision="0" ng-model="boatHeight"></slider></p>'+
							'</div>';
						$scope.compiled = $compile(htmlContent)($scope);
						this._content = $scope.compiled[0];
						return this._content;
					};
					return info;
				}
				
				$( document ).ready(function() {
					createBridgeInfoBox().addTo(map);
					createHeightSelectorBox().addTo(map);

					$('#spinner').spin('large', '#fff');
					
					 ckConsoleMap.createMapLayerFromGroupData(map, ckConsole.getGroup('MERGE Ponti'), function(bridgeLayer){
						bridgeLayer.show();
						bridgeLayer.setStyle({fillColor: '#0000FF',color: '#0000FF',
							fillOpacity: 1.0, weight: 15, opacity: 1.0});
						bridgeLayer.on('mouseover', function(e, data, marker){$scope.$apply(function(){
							$scope.hoverData = data;
						});});
						bridgeLayer.on('mouseout', function(e, data, marker){$scope.$apply(function(){
							if($scope.hoverData == data)
								$scope.hoverData = null;
						});});
						$scope.bridgeLayer = bridgeLayer;
					 }).then(function(bridgeLayer){
						$('#loadingPanel').hide();
						$('#spinner').spin(false);
					});
				});
			}]);
		</script>
	</head>
	<body ng-controller="DataCtrl">
		<div style="position:absolute;width:100%;height:100%;">
			<div id="map-canvas" style="width:100%;height:100%;"></div>
		</div>
		
		<div style="position:absolute;top:0px;left:0px;width:100%;height:100%;z-index:2000;background-color:rgba(0,0,0,0.5);" id="loadingPanel">
			<div style="margin-left:auto;margin-right:auto;text-align:center;margin-top:50px;" id="loadingText"><h3 style="color:white;">Loading...</h3></div>
			<div style="position:absolute;left:50%;top:50%;" id="spinner"/>
		</div>
	</body>
</html>